<!--Page Content-->
<div class="container">
  <div class="row">
    <div class="col-1">
      </div>
        <div class="col-10">

          <h1 class="display-6 text-center tayssir-title">
            الهدف من هذه المنصة هو مساندة الفئة الهشة من المجتمع المغربي خلال محنة الجائحة العالمية لفيروس كورونا
            المستجد ممن يمارسون مهن غير مهيكلة، الحرة و الغير مصرح بهم لدى الصندوق الوطني للضمان الإجتماعي
          </h1>
          <a href="#fill-your-info" class="waves-effect waves-light btn guide-btn">إضغط هنا لإدخال معلوماتك</a>

          <div id="fill-your-info">
            <tabset [justified]="true" #staticTabs>
              <tab heading="معلومات الموقع" disabled=true [disabled]="!jobInformationsForm.valid || !personalInformationsForm.valid">
                <form [formGroup]="locationInformationsForm" (ngSubmit)="onSubmitForms()">

                  <div class="form-group">
                    <label class="arabic-align">إسم المقدم <span class="required">*</span></label>
                    <input formControlName="authoruty" name="authoruty" type="text" class="form-control" placeholder="الإسم الكامل"
                        [ngClass]="{ 'is-invalid': (locationInformationsControl.authoruty.dirty || locationInformationsControl.authoruty.touched) && locationInformationsControl.authoruty.invalid }">
                    <div class="invalid-feedback" *ngIf="(locationInformationsControl.authoruty.dirty || locationInformationsControl.authoruty.touched) && locationInformationsControl.authoruty.invalid">
                    إسم المقدم إجباري
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="arabic-align">المنطقة <span class="required">*</span></label>
                    <select (change)='onRegionSelected($event.target.value)' formControlName="region" name="region"
                            class="form-control" [ngClass]="{ 'is-invalid': (locationInformationsControl.region.dirty || locationInformationsControl.region.touched) && locationInformationsControl.region.invalid }">
                        <option></option>
                        <option *ngFor="let region of regions" [value]="region.id">{{region.name_ar}}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="(locationInformationsControl.region.dirty || locationInformationsControl.region.touched) && locationInformationsControl.region.invalid">
                        المنطقة إجباري
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="arabic-align">المحافظة <span class="required">*</span></label>
                    <select (change)='onProvinceSelected($event.target.value)' formControlName="province" name="province"
                            class="form-control" [ngClass]="{ 'is-invalid': (locationInformationsControl.province.dirty || locationInformationsControl.province.touched) && locationInformationsControl.province.invalid }">
                        <option></option>
                        <option *ngFor="let province of provinces" [value]="province.id">{{province.name_ar}}</option>

                    </select>
                    <div class="invalid-feedback" *ngIf="(locationInformationsControl.province.dirty || locationInformationsControl.province.touched) && locationInformationsControl.province.invalid">
                        المحافظة إجباري
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="arabic-align">الناحية <span class="required">*</span></label>
                    <select formControlName="community" name="community" class="form-control" [ngClass]="{ 'is-invalid': (locationInformationsControl.community.dirty || locationInformationsControl.community.touched) && locationInformationsControl.community.invalid }">
                        <option></option>
                        <option *ngFor="let circle of circles" [value]="circle.id">{{circle.name_ar}}</option>

                    </select>
                    <div class="invalid-feedback" *ngIf="(locationInformationsControl.community.dirty || locationInformationsControl.community.touched) && locationInformationsControl.community.invalid">
                        الناحية إجباري
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="arabic-align">المدينة / الدائرة <span class="required">*</span></label>
                    <select formControlName="city" name="city" class="form-control" [ngClass]="{ 'is-invalid': (locationInformationsControl.city.dirty || locationInformationsControl.city.touched) && locationInformationsControl.city.invalid }">
                        <option></option>
                        <option *ngFor="let commune of communes" [value]="commune.id">{{commune.name_ar}}</option>

                    </select>
                    <div class="invalid-feedback" *ngIf="(locationInformationsControl.city.dirty || locationInformationsControl.city.touched) && locationInformationsControl.city.invalid">
                        الدائرة إجباري
                    </div>
                  </div>

                  <button type="submit" class="waves-effect waves-light btn send-btn" (click)="onSubmitJI()" [disabled]="!locationInformationsForm.valid">أرسل</button>

                  <a class="btn btn-primary waves-effect waves-light return-back" (click)="goToJobInformations()">سابق</a>
                </form>
              </tab>
              <tab heading="معلومات الوظيفة" [disabled]="!personalInformationsForm.valid">
                <form [formGroup]="jobInformationsForm" (ngSubmit)="onSubmitJI()">

                  <div class="form-group">
                
                    <label class="arabic-align">بطاقة الراميد</label>
                      <div class="radio-btns">
                        <div class="form-check form-check-inline">
                          <label for="hasRamed" class="form-check-label">
                              <input id="hasRamed" formControlName="hasRamed" class="with-gap form-check-input" type="radio" name="hasRamed" value="yes">
                              <span >نعم</span>
                          </label>
                        </div>

                        <div class="form-check form-check-inline">
                          <label for="hasNotRamed" class="form-check-label">
                            <input id="hasNotRamed" formControlName="hasRamed" class="with-gap form-check-input" type="radio" name="hasRamed" value="no">
                            <span>لا</span>
                          </label>
                        </div>
                      </div>
                  </div>

                  <div class="form-group" *ngIf="hasRamed == 'yes'">
                    <label class="arabic-align">رقم البطاقة <span class="required">*</span></label>
                    <input type="text" formControlName="ramed" name="ramed" class="form-control" placeholder="رقم بطاقة">
                  </div>

                  <div class="form-group">
                    <label class="arabic-align">المهنة <span class="required">*</span></label>
                    <select class="form-control" formControlName="jobType" name="jobType" [ngClass]="{ 'is-invalid': (jobInformationsControl.jobType.dirty || jobInformationsControl.jobType.touched) && jobInformationsControl.jobType.invalid }">
                      <option></option>
                      <option *ngFor="let job of jobs" [value]="job">{{job}}</option>

                    </select>
                    <div class="invalid-feedback" *ngIf="(jobInformationsControl.jobType.dirty || jobInformationsControl.jobType.touched) && jobInformationsControl.jobType.invalid">
                    المهنة إجباري
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="arabic-align">عنوان المهنة <span class="required">*</span></label>
                    <textarea formControlName="jobAddress" name="jobAddress" type="text" class="materialize-textarea form-control"
                            placeholder="عنوان مهنة" [ngClass]="{ 'is-invalid': (jobInformationsControl.jobAddress.dirty || jobInformationsControl.jobAddress.touched) && jobInformationsControl.jobAddress.invalid }"></textarea>
                    <div class="invalid-feedback" *ngIf="(jobInformationsControl.jobAddress.dirty || jobInformationsControl.jobAddress.touched) && jobInformationsControl.jobAddress.invalid">
                    عنوان المهنة إجباري
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary waves-effect waves-light next-btn" [disabled]="!jobInformationsForm.valid" (click)="onSubmitJI()">التالي</button>

                  <a class="btn btn-primary waves-effect waves-light return-back" (click)="goToPersonalInformations()">سابق</a>

                </form>
              </tab>

              <tab heading="معلومات شخصية" active=true>
                <form [formGroup]="personalInformationsForm" (ngSubmit)="onSubmitPI()">
                
                  <div class="form-group">
                    <label class="arabic-align">الإسم الكامل <span class="required">*</span></label>
                    <input type="text" formControlName="fullName" name="fullName" class="form-control" placeholder="الإسم الكامل"
                        required minlength="4" [ngClass]="{ 'is-invalid': (personalInformationsControl.fullName.dirty || personalInformationsControl.fullName.touched) && personalInformationsControl.fullName.invalid }">

                    <div class="invalid-feedback" *ngIf="(personalInformationsControl.fullName.dirty || personalInformationsControl.fullName.touched) && personalInformationsControl.fullName.invalid">
                    الإسم الكامل إجباري
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="arabic-align">العنوان <span class="required">*</span></label>
                    <textarea type="text" formControlName="address" name="address" class="materialize-textarea form-control" placeholder="العنوان"
                            required [ngClass]="{ 'is-invalid': (personalInformationsControl.address.dirty || personalInformationsControl.address.touched) && personalInformationsControl.address.invalid }"></textarea>

                    <div class="invalid-feedback" *ngIf="(personalInformationsControl.address.dirty || personalInformationsControl.address.touched) && personalInformationsControl.address.invalid">
                    العنوان إجباري
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="arabic-align">الهاتف <span class="required">*</span></label>
                    <input type="text" formControlName="phone" name="phone" class="form-control" placeholder="الهاتف"
                        required [ngClass]="{ 'is-invalid': (personalInformationsControl.phone.dirty || personalInformationsControl.phone.touched) && personalInformationsControl.phone.invalid }">

                    <div class="invalid-feedback" *ngIf="(personalInformationsControl.phone.dirty || personalInformationsControl.phone.touched) && personalInformationsControl.phone.invalid">
                    (06********) الهاتف إجباري
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="arabic-align">رقم البطاقة الوطنية <span class="required">*</span></label>
                    <input type="text" formControlName="cin" name="cin" class="form-control" placeholder="رقم البطاقة الوطنية"
                        required [ngClass]="{ 'is-invalid': (personalInformationsControl.cin.dirty || personalInformationsControl.cin.touched) && personalInformationsControl.cin.invalid }">

                  <div class="invalid-feedback" *ngIf="(personalInformationsControl.cin.dirty || personalInformationsControl.cin.touched) && personalInformationsControl.cin.invalid">
                    (********) رقم البطاقة الوطنية إجباري
                  </div>
                  </div>

                  <div class="form-group">
                    <label class="arabic-align">الوجه الأمامي للبطاقة الوطنية</label>
                    <input (change)="onCinRectoChange($event)" type="file" formControlName="cinRecto" name="cinRecto"
                        class="form-control" multiple="false" accept="image/x-png,image/gif,image/jpeg">
                  </div>

                  <div class="form-group">
                    <label class="arabic-align">الوجه الخلفي للبطاقة الوطنية</label>
                    <input (change)="onCinVersoChange($event)" type="file" formControlName="cinVerso" name="cinVerso"
                        class="form-control" accept="image/x-png,image/gif,image/jpeg">
                  </div>

                  <div class="form-group radio-btns">
                    <div class="form-check form-check-inline">
                        <label for="single" class="form-check-label">
                          <input id="single" formControlName="situation" class="with-gap form-check-input" type="radio" name="situation" value="single">
                          <span>عازب</span>
                        </label>
                    </div>

                  <div class="form-check form-check-inline">
                        <label for="married" class="form-check-label">
                          <input id="married" formControlName="situation" class="with-gap form-check-input" type="radio" name="situation" value="married">
                          <span>متزوج</span>
                        </label>
                  </div>

                  <div class="form-check form-check-inline">
                    <label for="widow" class="form-check-label">
                      <input id="widow" formControlName="situation" class="with-gap form-check-input" type="radio" name="situation" value="widow">
                      <span>أرملة</span>
                    </label>
                  </div>
                </div>

                <div class="form-group" *ngIf="situation != 'single'">
                  <label class="arabic-align">عدد الأبناء</label>
                  <input type="number" formControlName="childs" name="childs" class="form-control" placeholder="عدد الأبناء">
                </div>

                <button type="submit" class="btn btn-primary waves-effect waves-light info-submit" [disabled]="!personalInformationsForm.valid"
                        (click)="onSubmitPI()">التالي</button>

              </form>
            </tab>
          </tabset>

        </div>
      </div>
    
    <div class="col-1">
    </div>
    
  </div>
</div>