<h3 class="text-center">مرجو تأكيد معلوماتكم</h3>

<form class="text-center">
    <div class="form-group mx-sm-3 mb-2">
        <label class="sr-only">رقم تأكيد</label>
        <input type="text" class="form-control text-center" placeholder="رقم تأكيد">
    </div>
    <button type="submit" class="btn btn-primary mb-2">رقم تأكيد</button>
    <button type="submit" class="btn btn-warning mb-2" style="margin-left: 20px;">إعادة إرسال رقم تأكيد</button>
    <button type="submit" class="btn btn-danger mb-2" style="margin-left: 20px;" (click)="cancel()">إلغاء</button>
</form>