<h3 class="text-center">مرجو تأكيد معلوماتكم</h3>

<ul class="list-group">
    <li class="list-group-item text-center">{{request.fullName}} : الاسم الكامل</li>
    <li class="list-group-item text-center">
        <span class="badge badge-primary" *ngIf="request.situation == 'single'">عازب</span>
        <span class="badge badge-primary" *ngIf="request.situation == 'married'">متزوج</span>
        <span class="badge badge-primary" *ngIf="request.situation == 'widow'">أرملة</span>
    </li>
    <li class="list-group-item text-center" *ngIf="request.situation != 'single'">
        <span class="badge badge-primary">{{request.childs}}</span> : عدد أبناء
    </li>
    <li class="list-group-item text-center">{{request.address}} : عنوان</li>
    <li class="list-group-item text-center">{{request.phone}} : هاتف</li>
    <li class="list-group-item text-center">{{request.cin}} : رقم البطاقة وطنية</li>

    <li class="list-group-item text-center" *ngIf="request.hasRamed == 'yes'">
        <span class="badge badge-primary">{{request.ramed}}</span> : رقم بطاقة غمد
    </li>

    <li class="list-group-item text-center">{{request.jobType}} : مهنة</li>
    <li class="list-group-item text-center">{{request.jobAddress}} : عنوان مهنة</li>
    <li class="list-group-item text-center">{{request.authoruty}} : الاسم مقدم</li>
    <li class="list-group-item text-center" *ngIf="request.cinRecto"><img [src]="request.cinRecto" width="100%"> الوجه أمامي البطاقة وطنية</li>
    <li class="list-group-item text-center" *ngIf="request.cinVerso"><img [src]="request.cinVerso" width="100%"> الوجه خلفي البطاقة وطنية</li>
</ul>